<title>Cart</title>
{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="title">
            <h2>My Cart</h2>
        </div>

        <div class="temps">
            <div class="itemcont"/>
                {% csrf_token %}
                {% for item in incart %}
                    {% include 'cart/singleitem.html' with item=item %}
                {% endfor %}
                {% for toy in toyincart %}
                    {% include 'cart/singletoyitem.html' with toy=toy %}
                {% endfor %}
            </div>
        </div>

    </div>
    <legend class="border-bottom mb-4">Checkout</legend>
    <div class="border-top pt-3">
        <small class="text-muted">Do You Want To Continue Shopping</small>
        <a href="{% url 'contactInfo' %}" style="padding: 4rem"><button class="buybutton">Buy Products</button></a>
        <form>
            <div><a class="ml-2" href="{% url 'cereal-index' %}">Continue Shopping Cereal</a></div>
            <div><a class="ml-2" href="{% url 'toys-index' %}">Continue Shopping Toys</a></div>
        </form>
    </div>

{% endblock %}