<title>Cart</title>
{% extends 'base.html' %}

{% block content %}
    <div class="title">
        <h2>Your Cart</h2>
    </div>
    <div class="cart">
    </div>
    <button class="buybutton" href="{% url 'payment-index' %}">Pay</button>
    <p>asdsad</p>
        <div class="temps">
        <div class="itemcont"/>
            {% csrf_token %}
            {% for incarts in incart %}
                {% include 'cart/singleitem.html' with incarts=incarts %}
            {% endfor %}
        </div>
    {{ incart }}
{% endblock %}
