<title>Cart</title>
{% extends 'base.html' %}

{% block content %}
    <div class="title">
        <h2>Your Cart</h2>
    </div>

    <div class="temps">
        <div class="itemcont"/>
            {% csrf_token %}
            {% for item in incart %}
                {% include 'cart/singleitem.html' with item=item %}
            {% endfor %}
        </div>
        <a href="{% url 'contactInfo' %}" style="padding: 4rem">
            <button class="buybutton">Pay</button>
        </a>
    </div>

{% endblock %}