<title>Account</title>
{% extends 'base.html' %}
{% block content %}
    <div class="test">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile</legend>
            <label for="user_name">Name:</label>
            <p>{{ user.first_name }} {{ user.last_name }}</p>
            <label for="user_id">ID:</label>
            <p>{{ user.id }}</p>
            <label for="user_username">Username:</label>
            <p>{{ user.username }}</p>
            <label for="user_email">Email:</label>
            <p>{{ user.email }}</p>

            <h2>{{ Profile.image }}</h2>
        </fieldset>

        <form class="form form-horizontal" method="POST" >
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Update"/>
        </form>
        <img src="{{ user.profile.profile_image }}" class="profile-image"/>
    </div>
{% endblock %}