<title>Account</title>
{% extends 'base.html' %}
{% block content %}
    <div class="test">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile</legend>
            <label for="user_name">Name:</label>
            <p>{{ user.first_name }} {{ user.last_name }}</p>
            <label for="user_id">ID:</label>
            <p>{{ user.id }}</p>
            <label for="user_username">Username:</label>
            <p>{{ user.username }}</p>
            <label>fav cereal:</label>
            <p>{{ user.profile.favorite_cereal }}</p>

            <img src="{{ user.profile.profile_image }}" class="cerealImage" style="width:150px"/>


        </fieldset>

        <form class="form form-horizontal" method="POST" >
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Update"/>
        </form>

    </div>
{% endblock %}