.title {
    display: flex;
    align-items: center;
    color:black;
    width: auto;
    border-bottom: 3px solid black;
    padding: 15px;
    margin-bottom: 20px;
    flex-direction: column;
}

.items {
    align-content: center;
    display: block;
    padding-inline: 10rem;
    padding: 8rem;
    border: 5px solid black;
    margin: 1rem;
}

.itemcont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.addtocart{
    margin-left: 1rem;
    margin-bottom: 2rem;

}

body{
    background-color: #F7FCFF;
    font-family: 'Century Gothic';
}

.navbar-brand{
    font-size: 40px;
    font-weight: bold;
    color: white;
}

button, .btn-default{
    background-color: #71AEE5;
    border-radius: 10px;
    color: #ffffff;
}

.container-fluid{
    background-color: #6b97ea;
    color: #ffffff;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

ul.nav.navbar-nav{
    background-color: #3669c4;
    color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
    background-image: linear-gradient(to bottom,#3669c4 0, #2d5db1 100%);
    color: white;
}