<title>Homepage</title>
{% extends 'base.html' %}

{% block content %}
    <div class="test">
        <legend class = 'border-bottom mb-4'>
            <strong>Welcome to Big Cereal</strong>
        </legend>
        <p class = 'hp_text'>The Big Cereal company is a proud seller of cereal since 1954. We welcome you and happily ask you to buy cereal from us. Because we all know that breakfast is the most important meal of the day and that is why you should buy your cereal here. We ship to all over the world and with no shipping cost. That is why we have been the biggest sellers of cereal since 1954. </p>
        <div class="borderButton">
            <a id="hp_button" href="/homepage/cereal/">Browse Cereal</a>
            <a id="hp_button" href="/homepage/toys/">Browse Toys</a>
        </div>
    </div>
{% endblock %}
