<title>Homepage</title>
{% extends 'base.html' %}

{% block content %}
    <div class="test">
        <h2 class = 'hp_text'>Welcome to Big Cereal</h2>
        <p class = 'hp_text'>The Big Cereal company is a proud seller of cereal since 1954. We welcome you and happily ask you to buy cereal from us. Because we all know that breakfast is the most important meal of the day and that is why you should buy your cereal here. We ship to all over the world and with no shipping cost. That is why we have been the biggest sellers of cereal since 1954. </p>
        <a id="hp_button" href="/homepage/cereal/">Browse Cereal</a>
    </div>
{% endblock %}
