<div class="orderby">
    <label for="value">Order by:</label>
    <select id="value" name="value">
    <option value="price">Price</option>
    <option value="name">Name</option>
</select>
</div>
<div class="filterby">
    <p>Filter by type</p>
    <input type="checkbox" id="healthy" name="healthy" value="Healthy">
    <label for="healthy"> Healthy</label><br>
    <input type="checkbox" id="sugary" name="sugary" value="Sugary">
    <label for="sugary"> Sugary</label><br>
    <p>Filter by Manufaturce</p>
    <input type="checkbox" id="generalMills" name="generalMills" value="General Mills">
    <label for="generalMills"> General Mills</label><br>
    <input type="checkbox" id="kelloggs" name="kelloggs" value="Kelloggs">
    <label for="kelloggs"> Kellogg Company</label><br>
    <input type="checkbox" id="post" name="post" value="Post">
    <label for="post"> Post</label><br>
    <input type="checkbox" id="quaker" name="quaker" value="Quaker">
    <label for="quaker"> Quaker</label><br>
    <input type="checkbox" id="annies" name="annies" value="Annies">
    <label for="annies"> Annie's</label><br>
</div>