<div class="filterby">
    <p>Filter by type</p>
    <input type="checkbox" id="healthy" name="healthy" value="Healthy">
    <label for="healthy"> Healthy</label><br>
    <input type="checkbox" id="sugary" name="sugary" value="Sugary">
    <label for="sugary"> Sugary</label><br>
    <p>Filter by Manufaturce</p>
    <input type="checkbox" id="generalMills" name="generalMills" value="General Mills">
    <label for="generalMills"> General Mills</label><br>
    <input type="checkbox" id="kelloggs" name="kelloggs" value="Kelloggs">
    <label for="kelloggs"> Kellogg's</label><br>
</div>