<div class="orderby">
    <label for="value">Order by:</label>
    <form action="{% url 'priceResult' %}" method="POST">
        {% csrf_token %}
        <select id="value" name="orderby">
            <option value="price_from_high" name="price_from_high">price (high to low)</option>
            <option value="price_from_low" name="price_from_low">price (low to high)</option>
            <option value="name_a_z" name="name_a_z">Name (a-z)</option>
            <option value="name_z_a" name="name_z_a">Name (z-a)</option>
        </select>
        <input type="submit" value="filter" class="btn btn-primary">
    </form>
</div>
<div class="filterby">
    <form action="{% url 'filterResult' %}" method="POST" name="filterBy">
        {% csrf_token %}
        <p>Filter by type</p>
        <select id="value" name="type">
            <option id="none" name="none" value="none">----SELECT----</option>
            <option id="healthy" name="healthy" value="Healthy">Healthy</option>
            <option id="sugary" name="sugary" value="Sugary">Sugary</option>
        </select>
        <p>Filter by Manufaturce</p>
        <select id="value" name="manufacturer">
            <option id="none" name="none" value="none">---------SELECT---------</option>
            <option id="generalMills" name="generalMills" value="General Mills"> General Mills</option>
            <option id="kellogg" name="kellogg" value="Kellogg Company">Kellogg Company</option>
            <option id="post" name="post" value="Quaker">Quaker</option>
            <option id="quaker" name="quaker" value="Post">Post</option>
            <option id="Annie's" name="Annie's" value="Annie's">Annie's</option>
            <option id="Barbara's Bakery" name="Barbara's Bakery" value="Barbara's Bakery">Barbara's Bakery</option>
            <option id="Weetabix Limited" name="Weetabix Limited" value="Weetabix Limited">Weetabix Limited</option>
        </select>
        <input type="submit" value="filter" class="btn btn-primary">
    </form>
</div>