<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/homepage/">Homapage</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
<!--  class="active" <span class="sr-only">(current)</span>-->
        <li><a href="{% url 'cereal-index' %}">Cereal </a></li>
        <li><a href="{% url 'toys-index' %}">Toys</a></li>
        <li><a href="{% url 'cutlery-index' %}">Cutlery</a></li>
        <li><a href="{% url 'toys-index' %}">Clothes</a></li>

        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'sign_up-index' %}">Sign up</a></li>
        <li><a href="{% url 'sign_in-index' %}">Sign in</a></li>
        <li><a href="{% url 'cart-index' %}">Cart</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>