<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand a-button" href="/homepage/">Big Cereal</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
<!--  class="active" <span class="sr-only">(current)</span>-->
        <li><a class="a-button" href="{% url 'cereal-index' %}">Cereal</a></li>
        <li><a class="a-button" href="{% url 'toys-index' %}">Toys</a></li>
        <li><a class="a-button" href="{% url 'cutlery-index' %}">Cutlery</a></li>
        <li><a class="a-button" href="{% url 'clothes-index' %}">Clothes</a></li>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}

              <li><a href="/homepage/account/{{ user.id }}" >Account</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
              <li><a href="{% url 'info' %}">Sign up</a></li>
              <li><a href="{% url 'sign_in-index' %}">Sign in</a></li>
          {% endif %}
        <li><img id='cartimg' src="https://img.icons8.com/pastel-glyph/2x/ffffff/fast-cart.png"><a href="{% url 'cart-index' %}">Cart</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>