
<title>Big Cereal Toys</title>
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="title">
        <h2>Toys</h2>
        <form class="navbar-form navbar-left" action="{% url 'searchResultToys' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" name="search" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
    </div>
    <div class="temps">
        <div class="itemcont"/>
            {% csrf_token %}
            {% for toy in toys %}
                {% include 'toys/singleToy.html' with toy=toy %}
            {% endfor %}
        </div>
    {% include 'filtertoy.html' %}
</div>

{% endblock %}