<title>Payment</title>
{% extends 'base.html' %}

{% block content %}
    <form class="form form-horizontal" method="POST" >
        {% csrf_token %}
        <legend class="border-bottom mb-4">Input Contact Information</legend>
            {{ form }}
        </fieldset>
        <input class="buybutton" type="submit" value="Go To Card Step"/>
        <a href="{% url 'cardInfo' %}" style="padding: 4rem">
            <button class="buybutton">Go To Card Step</button>
        </a>
    </form>
{% endblock %}