<title>Payment</title>
{% extends 'base.html' %}

{% block content %}
    <div>
        <h2>Contact Information</h2>
        <div class="contactInfo">
            {% for contact in contactInfo %}
                <div class="PaymentContactInfo">
                    <h3 id="text">Country: {{ contact.country }}</h3>
                    <h3 id="text">City: {{ contact.city }}</h3>
                    <h3 id="text">Address: {{ contact.address }}</h3>
                    <h3 id="text">zip: {{ contact.zip }}</h3>
                </div>
            {% endfor %}
        </div>
        <div class="cardInfo">
            <h2>Card Information</h2>
            {% for card in cardInfo %}
                <div class="PaymentCardInfo">
                    <h3 id="text">name of Card holder: {{ card.nameOfCardholder }}</h3>
                    <h3 id="text">card number: {{ card.cardNumber }}</h3>
                    <h3 id="text">Expirations date: {{ card.expirationsDate }}</h3>
                    <h3 id="text">CVC: {{ card.CVC }}</h3>
                </div>
            {% endfor %}
        </div><br><br>
        <h2>Cart information</h2>
        <div class="cartInfo">
            {% csrf_token %}
            {% for item in incart %}
                <div class="PaymentCartItems">
                    <img src="{{ item.cereal.image }}" style="width: 50px"/>
                    <h4>{{ item.cereal.name }}</h4>
                    <p>Price: {{ item.cereal.price }} &#36;</p>
                    <p>amount: {{ item.quantity }}</p>
                 </div>
            {% endfor %}
            {% for toy in toycart %}
                <div class="PaymentCartItems">
                    <img src="{{ toy.toy.image }}" style="width: 50px"/>
                    <h4>{{ toy.toy.name }}</h4>
                    <p>Price: {{ toy.toy.price }} &#36;</p>
                    <p>amount: {{ toy.quantity }}</p>
                 </div>
            {% endfor %}
            <p>Total:  &#36;</p>
        </div>
        <a href="{% url 'contactInfo' %}">
            <button class="buybutton">Edit payment information</button>
        </a>
        <form method="POST">
            {% csrf_token %}
            <button class="buybutton">Confirm Purchase</button>
        </form>
    </div>
{% endblock %}